<%= render 'shared/header' %>

<div class="main">
  <div class="user-show">
    <div class="user-show-wrapper">
      <div class="user-show-upper">
        <h1 class="user-show-heading">プロフィール</h1>
        <div class="user-show-name name-img-box">
          <div class="not-correct-user">
            <div class="prb"><%= @user.nickname %></div>
            
          </div>
          <% if user_signed_in? && current_user.id == @user.id %>
            <div class="btn-wrapper user-show-btn">
              <%= link_to "編集", edit_user_registration_path, class: "btn edit-btn"%>
              <%= link_to "削除", user_registration_path, method: :delete, class: "btn destroy-btn"%>
            </div>
          <% end %>
        </div>
        <div class="user-show-profile">
          <h2>自己紹介</h2>
          <div class="profile-body">
            <% if @user.profile.nil? %>
              <p>よろしくお願いします。</p>
            <% else %>
              <p>
                <%= @user.profile %>
              </p>
            <% end %>
          </div>
        </div>    
      </div>

      <div class="user-show-name">
        <h2>ポートフォリオ</h2>
      </div>
      <div class="user-show-middle">
        <div class="posts">
          <% @posts.each do |post| %>
            <% if post.user_id == @user.id %>
              <div class="content">
                <%= link_to image_tag(post.image, class: 'user-show-img'), post_path(post.id) %>
                <h3><%= link_to post.title, post_path(post.id) %></h3>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if @user.id == current_user.id %>
        <div class="user-show-name">
          <h2>お気に入り</h2>
        </div>    
        <div class="user-show-middle">
          <div class="favos">
            <% @user.likes.each do |like| %>
              <% post = Post.find(like.post_id) %>
              <div class="content">
                <%= link_to image_tag(post.image, class: "user-show-img"), post_path(post.id) %>
                <h3><%= link_to post.title, post_path(post.id) %></h3>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>