<%= form_with model: post, local: true do |f|%>

  <%= render 'error_messages', model: f.object %>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title, class: 'input-default' %>
  </div>

  <div class="field">
    <%= f.label :overview, "概要" %><br />
    <%= f.text_area :overview, class: "form-text" %>
  </div>

  <div class="field">
    <%= f.label :programming_languages, "プログラミング言語" %><br />
    <%= f.text_area :programming_languages, class: "form-text" %>
  </div>

  <div class="field">
    <%= f.label :techs, "技術" %><br />
    <%= f.text_area :techs, class: "form-text" %>
  </div>

  <div class="field">
    <%= f.label :portfolio_url, "ポートフォリオのURL" %><br />
    <%= f.text_field :portfolio_url, class: 'input-default' %>
  </div>

  <div class="field">
    <%= f.label :github_url, "GitHubのURL" %><br />
    <%= f.text_field :github_url, class: 'input-default' %>
  </div>

  <div class="field">
    <%= f.label :tag_name, "タグ" %>
    <div class="tag-exp">
      <p>半角スペースを入力することで複数のタグを付けることができます</p>
      <p>例：HTML CSS Ruby RubyonRails</p>
    </div>
    <%= f.text_field :tag_name, class: 'input-default' %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: "form-btn"  %>
  </div>
<% end %>