<div class="post shadow">
  <%= link_to image_tag(post.image, class: 'post-img'), post_path(post.id) %>
  
  <div class="post-show-tags">
    <div class="tag-header">
      <span class="fas fa-tags"></span>
      <h3 class="tag-title">タグ</h3>
    </div>
    <div class="tags">
      <% post.tags.each do |list| %>
        <span class="tag">
          <%= link_to list.tag_name, tag_posts_path(list.id) %>
        </span>
      <% end %>
    </div>
  </div>

  <h3 class="post-title">
    <%= link_to post.title, post_path(post.id) %>
  </h3>

  <h3 class="overview-title">&lt;概要&gt;</h3>
  <p class="post-overview">
    <%= post.overview %>
  </p>

  <div class="likes">
    <% if post.likes.present? %>
      <span class="fas fa-star like"></span>
      <span class="likes-count"><%= post.likes.count %></span>
    <% else %>
      <p>＊＊＊いいねはまだありません＊＊＊</p>
    <% end %>
  </div>
</div>