<%= render 'shared/header' %>

<div class="post-show">
  <div class="contents">
    <%= image_tag @post.image, class: 'post-show-img' %>
    
    <div class="post-show-tags">
      <div class="tag-header">
        <span class="fas fa-tags"></span>
        <h3 class="tag-title">タグ</h3>
      </div>
      <% @post.tags.each do |list| %>
        <span class="tag">
          <%= link_to list.tag_name, tag_posts_path(list.id) %>
        </span>
      <% end %>
    </div>
  
    <h2 class="post-title">
      <%= @post.title %>
    </h2>
  
    <div class="overview-wrapper">
      <h3 class="show-title">&lt;概要&gt;</h3>
      <p class="show-text">
        <%= simple_format @post.overview %>
      </p>
    </div>

    <div class="programminlanguages-wrapper">
      <h3 class="show-title">&lt;プログラミング言語&gt;</h3>
      <p class="show-text">
        <%= simple_format @post.programming_languages %>
      </p>
    </div>

    <div class="techs-wrapper">
      <h3 class="show-title">&lt;技術&gt;</h3>
      <p class="show-text">
        <%= simple_format @post.techs %>
      </p>
    </div>

    <div class="url-wrapper">
      <h3 class="show-title">&lt;GitHub&gt;</h3>
      <p class="show-text">
        <%= link_to @post.github_url %>
      </p>
    </div>

    <div class="url-wrapper">
      <h3 class="show-title">&lt;URL&gt;</h3>
      <p class="show-text">
      <%= link_to @post.portfolio_url %>
      </p>
    </div>
    
    <%= render 'likes/like' %>

    <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="post-manage">
        <div class="btn-wrapper">
          <%= link_to "編集", edit_post_path(@post.id), class: "btn edit-btn"%>
          <%= link_to "削除", post_path(@post.id), method: :delete, class: "btn destroy-btn"%>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= render 'comments/comment' %>
</div>