<!DOCTYPE html>
<html>
  <head>
    <title>YmpApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "ポートフォリオ集", root_path, class: :logo %>
          </div>
            <div class="nav__right">
            <% if  user_signed_in? %>
              <div class="current-user-name">
                ログインユーザー：
                <%= link_to current_user.nickname, user_path(current_user.id) %>
              </div>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout%>
              <%= link_to "投稿", new_post_path,class: :nav__btn%>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            <% end %>
            </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
